.page-container.landing-container.text-center
  %div
    %h1.page-headline
      = solution.display_name
    %h2.page-subtitle
      = solution.description

- if (solution.body != "")
  .feature-gallery-alt.text-center
    %p.solution-body
      = solution.body

.page-container.product-categories-container.text-center
  .container.titles
    %h1
      Product categories
    .gitlab-content-container-full.margin-top40
      .content
        .grid-layout.grid-layout2
          - data.categories.each do |key, category|
            - next if !category.marketing
            - url = category.alt_link ? category.alt_link : "/product/#{key.gsub('_', '-').downcase}"
            - if solution.display_name.downcase === category.stage
              .grid-item.fiex-container.flex-column.flex-start.text-left
                %a.category-title.flex-container.align-center.full-width{ href: "#{url}" }
                  = image_tag "/images/devops-tools/gitlab-logo.svg", class: "category-logo", alt: "GitLab logo svg"
                  %h3.margin0{ id: "#{key.gsub('_', '-').downcase}" }
                    = category.name
                - if category.description? || category.description != ""
                  %p.margin-top20
                    = category.description
                %a.learn-more.flex-container.align-center{ href: "#{url}"}
                  Learn More →

.page-container.feature-gallery-alt.text-center
  - if solution.cta
    = partial "#{solution.cta}"
  .container.titles
    %h1
      Direction
    .direction
      %p
        Learn more about our roadmap for upcoming features on our
        = succeed "." do
          %a.learn-more{ href: "/direction/#{solution.display_name.downcase}/"}Direction page

- if (defined?(solution.related))
  .page-container.feature-gallery.text-center
    .container.titles
      %h1
        Related
      .related-solutions
        - solution.related.each do |related_solution|
          .related-solution-item
            = link_to "/stages-devops-lifecycle/#{related_solution}" do
              %p
                = data.stages.stages.public_send(related_solution).display_name
              %p
                = data.stages.stages.public_send(related_solution).description
